body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    min-height: 10em;
    box-sizing: border-box;
    background-color: #0030e0;
    padding: 1.5em;
    display: flex;
    align-items: center;
    gap: 1.5em;

    @media screen and (width >= 46em) {
        position: sticky;
        top: 0px;
    }

    @media screen and (width < 46em) {
        flex-direction: column;
        text-align: center;
    }
}

#header-logo-link {
    height: 7em;
}

#header-logo {
    height: 100%;
}

#header-title {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}

main {
    flex-grow: 1;
    background-color: #c8d8ff;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contentbox {
    border-radius: 1em;
    background-color: #d0cbc8;
    padding: 2em;
    box-sizing: border-box;
}
.contentbox-title {
    margin: 0;
}

footer {
    width: 100%;
    height: 5em;
    background-color: #7070ff;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#footer-logo-link {
    height: 3em;
}

#footer-logo {
    height: 100%;
}
